@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


.image-wrapper {
    display: block;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    position: relative;
    padding-bottom: var(--img-ratio);
}

.image-wrapper img {
    display: block;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    object-fit: var(--image-fit, cover);
}
.home {
    background-color: black;
}
body {
    background-color: black;
}

.active {
    color: rgb(255, 0, 0);

}

.herobg {
    background-image: url("https://images.unsplash.com/photo-1622037022824-0c71d511ef3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.offer {
    background-image: url("https://plus.unsplash.com/premium_photo-1663054524168-60a30950acb6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}

.consultation {
    background-image: url("https://img.freepik.com/premium-vector/consultant-manager-sitting-her-computer-talking-with-client-call-center_530733-2767.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;

    position: relative;
    z-index: 0;
}

.slider {
    height: calc(100vh - 5rem);
    width: 500vw;
    display: flex;
    transition: 1s ease;
}

.slide {
    width: 100vw;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.slide:after,
.offer:after,
.herobg:after,
.consultation:after {
    position: absolute;
    content: '';
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: -9999999;
}

/* slide cta  */
.slide-cta {
    position: relative;
    z-index: 0;

}